@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Get a reference of hour TypeScript helpers.getLogger class.
        var jsObject = await this.JSRuntime.InvokeAsync<IJSObjectReference>("helpers.getLogger");

        // Invoke the log method.
        await jsObject.InvokeVoidAsync("log", new object[1] { $"LOG {DateTime.Now} - OnAfterRenderAsync called." });
    }
}